// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.text-blue{
    color:$blue;
}
.text-indigo{
    color:$indigo;
}
.text-purple{
    color:$purple;
}
.text-pink{
    color:$pink;
}
.text-red{
    color:$red;
}
.text-orange{
    color:$orange;
}
.text-yellow{
    color:$yellow;
}
.text-green{
    color:$green;
}
.text-teal{
    color:$teal;
}
.text-cyan{
    color:$cyan;
}

@media only screen and (max-width: 600px) {
    .altura-row{
        height: 76px;
        overflow: hidden;
    }

    .th-imagem{
       // background-color: green;
        width: 76px;
    }

    .td-imagem{
     //   background-color: blue;
        width: 76px;
    }
    .imagem-equipamento{
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
}

@media only screen and (min-width: 600px) {
    .altura-row{
        height: 90px;
        overflow: hidden;
    }

    .th-imagem{
       // background-color: orange;
        width: 90px;
    }

    .td-imagem{
      //  background-color: salmon;
        width: 90px;
    }
    .imagem-equipamento{
        width: 65px;
        height: 65px;
        object-fit: cover;
    }
}



@media only screen and (min-width: 992px) {
    .altura-row{
        height: 110px;
        overflow: hidden;
    }

    .th-imagem{
     //   background-color: red;
        width: 110px;
    }

    .td-imagem{
        width: 110px;
      //  background-color: yellowgreen;
    }

    .imagem-equipamento{
        width: 85px;
        height: 85px;
        object-fit: cover;
    }
}



